<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>title</title>
  <meta name="author" content="name">
  <meta name="description" content="description here">
  <meta name="keywords" content="keywords,here">
  <!--  <link rel="shortcut icon" href="favicon.ico" type="image/vnd.microsoft.icon">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=font1|font2|etc" type="text/css">
  <link rel="stylesheet" href="stylesheet.css" type="text/css">-->
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
  <ul class="list-group">
    {%for query in queries.all %}
      <li class="list-group-item">{{query.email}} ## {{query.category}} ## {{query.summary}} ## {{query.date_only}}</li>
    {% endfor%}
  </ul>

  <li class="list-group-item list-group-item-primary">This colour for tickets less than 7 days old  <small>1 days ago</small></li>
  <li class="list-group-item list-group-item-success">This colour for tickets that have been resolved <small>Closed</small></li>
  <li class="list-group-item list-group-item-danger">This color for tickets that are more than 28 days old <small>36 days ago</small></li>
  <li class="list-group-item list-group-item-warning">This colour is the tickets that are more than 7 but less than 28 days old <small>16 days ago</small></li>
  <li class="list-group-item list-group-item-light">This is for unassigned queries list group item <small>3 days ago</small></li>

</body>

</html>
